/* === CSS RESET === */
* {
  margin:0;
  padding:0;
  box-sizing: border-box; /*  padding and borders won't increase width of elements*/
}
html, body {
    height: 100%;
}
/*  to support height values in %% */

header {
    font-size: 64px;
  text-align: center;
  color: white;
  background-color:rgba(0, 0, 0, 1);
  position:absolute;
}
#s1 {
  text-align:center;
  color:white;
  background:url(/images/portrait_1.jpg) no-repeat center center fixed;
  background-size:contain;
  /*  ../ goes out of file directory, fixed does not scroll, center keeps center visble, cover = tries to fill canvas*/
  width:100%;
  height:100%;
  position:relative;
}

#s1 hgroup {
width:300px;
height:300px;
text-align:center;
background-color:grey;
padding-top:200px;
position: absolute;
top:65px;
left:65px;
bottom:0;
right:0;
}

#s2 {
  text-align:center;
  color:white;
  background:url(../images/portrait_2.jpg) no-repeat center center fixed;
  background-size:contain;
  /*  ../ goes out of file directory, fixed does not scroll, center keeps center visble, cover = tries to fill canvas*/
  width:100%;
  height:100%;
  position:relative;
}
#s2 hgroup {
width:100px;
height:100%;
color: black;
text-align:center;
color: white;
background-color:black;
padding-top:10%;
position: absolute;
top:50%;
left:90%;
bottom:0;
right:65px;
}

#s3 {
  text-align:center;
  color:white;
  background:url(../images/portrait_3.jpg) no-repeat center center fixed;
  background-size:contain;
  /*  ../ goes out of file directory, fixed does not scroll, center keeps center visble, cover = tries to fill canvas*/
  width:100%;
  height:100%;
  position:relative;
}

#s3 hgroup {
width:250px;
height:50%;
text-align:center;
background-color:grey;
padding:20px;
position: absolute;
top:50%;
left:10%;
bottom:0;
right:0;
}
