section {
  background-color: rgb(255,255,255);
  width:100px;
  height:100px;
  margin:20px;
  display:inline-block;
}

.rel {
  background-color: rgb(210,210,210);
  position:relative;
  left: 10px;

}

#parent {
  background-color: rgb(255,90,90);
  width: 50%;
  position:relative;

}

#abso {
  background-color:rgb(255,90,90);
  position:absolute;
  bottom:0px;
  right:1px;
  width:50%;
  margin:0;
  z-index:3;
}
