/* == CSS RESET === */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

:root {
  --highlight_color: rgb(90, 20, 20);
  --background_color: rgb(0, 0, 0);
  --white_color: rgb(255, 255, 255);
}

body, .index, article, {
  /* necessary so that children can have 100%width */
  height: 100%;
}

body {
    /* border: dotted blue; */
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: left;
  margin: 20px;
  margin-top: 60px;

}

/* === NAV INFO === */
.index {
    /* border: dotted black; */
  color: var(--background_color);
  margin: 0px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

header {
  height: 100px;
}


nav {
  /* border: dotted red; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

a {
  font-size: 10px;
  transition-duration: .2s;
  transition-property: width;
  transition-timing-function: ease-in-out;
  margin: 20px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-decoration:none;
  text-decoration:overline;
}

a:hover {
  width: 150px;
  background-color: var(--highlight_color);
}

a:link {
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: var(--background_color);
}

a:visited {
  color: white;
}

a:active {}

a.home {}

.p5{
  height:100%;
  /* border: blue dotted; */
}
article {
  background-color: var(--background_color);
  color: var(--white_color);
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  width: auto;
  max-width:500px;
  padding: 20px;
  padding-top: 70px;
  /* border: dotted green; */
}

article:hover{
  background-color:var(--highlight_color);
}

h3 {
  margin-top: 40px;
  margin-bottom: 10px;
}

article p {
  color: var(--white_color);
}

p {
  text-indent: 30px;
}
